/* -----------profile ---------*/
.card-user {
    margin: 20px auto;
    width: 100%;
    height: 250px;
}
.card-user .image{
    width: 100%;
    margin: 0px auto;
    padding: 0px !important:; 
    text-align: center;
}
.card-user .image img{
    width: 170px;
    height: 170px;
    margin: 0px auto;
}
.card-team {
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}
.card-team .content{
    min-height: auto;    
}
.card-team .header .title{
    text-align: center;
}
.add-team .btn-add-team {
    text-align: right;
}
.card-content {
    margin-top:20px;
    width: auto;
    height: auto;
    background-color: #FFFFFF;
}
.card-content .content .header h3{
    margin-top: 0px;
}
/* ------------team-info--------*/
.img-member-team .profile img {
    width: 100px;
    height: 100px;
}
.card-team-info {
    height: auto;
    padding-bottom: 0px;
}
.card-team-info .content{
    padding-bottom: 10px;
    min-height: 10px;
}

.card-team-info .content p{
    margin-bottom: 0px;
}
.content .header .title {
    text-align: center;
    color: blue;
    margin-bottom: 20px;
    font-size: 30px;
}

#team-member {
    margin-bottom: 20px;
    border-color: green;
}
#team-member:hover {
    background-color: #ECF0F5;
}
#team-member a img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.member-info {
    text-align: center;
}
.btn-add-member {
    margin-top: 20px;
    text-align: right;
}

/* ----------- list- team ------*/
.layout-content {
    background: #FFFFFF;
    margin: 20px;
    padding: 0px 20px;
}
.wrapper-team {
    background-color: #ECF0F5;
}
.widget-user-header {

}
/* -----------------------------*/
.table thead tr > th,
.table thead tr > td,
.table tbody tr > th,
.table tbody tr > td,
.table tfoot tr > th,
.table tfoot tr > td {
  border-top: 1px solid #CCC5B9; }
.table > thead > tr > th {
  border-bottom-width: 0;
  font-size: 1.25em;
  font-weight: 300; }
.table .radio,
.table .checkbox {
  margin-top: 0;
  margin-bottom: 22px;
  padding: 0;
  width: 15px; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px;
  vertical-align: middle; }
.table .th-description {
  max-width: 150px; }
.table .td-price {
  font-size: 26px;
  font-weight: 300;
  margin-top: 5px;
  text-align: right; }
.table .td-total {
  font-weight: 600;
  font-size: 1.25em;
  padding-top: 20px;
  text-align: right; }
.table .td-actions .btn.btn-sm, .table .td-actions .btn.btn-xs {
  padding-left: 3px;
  padding-right: 3px; }
.table > tbody > tr {
  position: relative; }

.table-striped tbody > tr:nth-of-type(2n+1) {
  background-color: #fff; }
.table-striped tbody > tr:nth-of-type(2n) {
  background-color: #FFFCF5; }
.table-striped > thead > tr > th,
.table-striped > tbody > tr > th,
.table-striped > tfoot > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > td {
  padding: 15px 8px; }

/*      Checkbox and radio         */
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
  -webkit-transition: color,opacity 0.25s linear;
  transition: color,opacity 0.25s linear;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #66615b;
  cursor: pointer; }
  .checkbox .icons,
  .radio .icons {
    color: #66615b;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    text-align: center;
    line-height: 21px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: color,opacity 0.15s linear;
    transition: color,opacity 0.15s linear;
    opacity: .50; }
  .checkbox.checked .icons,
  .radio.checked .icons {
    opacity: 1; }
  .checkbox input,
  .radio input {
    outline: none !important;
    display: none; }

.checkbox label,
.radio label {
  padding-left: 10px; }

.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear; }

.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #DDDDDD; }

.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #DDDDDD; }

.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100); }

.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #DDDDDD; }

.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0); }

.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  color: #DDDDDD;
  filter: alpha(opacity=100); }

/*------List team---------*/
